{% extends 'base.html.twig' %}


{% block title %}create vehicle{% endblock %}



{% block body %}
<div class="container">

		<div class="row">
			<div class="col"> 
			
			</div>
         <div class="col"> 
			<h2>Création d'un véhicule</h2>
			</div>
         <div class="col"> 
			
			</div>
		</div>

		{{ form_start(form) }}
		<div class="row p-3 mb-2 bg-secondary bg-gradient text-white rounded-3">


			<div class="col-md-6">{{form_row(form.marque)}}</div>
			<div class="col-md-6">{{form_row(form.immat)}}</div>
			<div class="col-md-6">{{form_row(form.modele)}}</div>

			<div class="col-md-6">{{form_row(form.dateAcquisition)}}</div>
			<div class="col-md-6">{{form_row(form.equipementPolice)}}</div>
			<div class="col-md-6">{{form_row(form.pret)}}</div>


			<div class="col-md-6">{{form_row(form.attribution)}}</div>
			<div class="col-md-6">{{form_row(form.situation)}}</div>
			<div class="col-md-6">{{form_row(form.numeroPlace)}}</div>
			<div class="col-md-6">{{form_row(form.comment)}}</div>
			<div class="col-md-6">{{form_row(form.dateCT)}}</div>


		</div>

		<div class="row">
			<button type="submit" class="btn btn-outline-success">Enregistrer</button>
		</div>
		{{ form_end(form) }}

	



</div>
{% endblock %}
