{% extends 'base.html.twig' %}


{% block title %}create vehicle
{% endblock %}


{% block body %}
	<div class="main-content-accueil">

		<div class="container">

			<div class="row">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>

			{{ form_start(form) }}
			<div class="row  row-custom-bg p-3 mb-2 bg-gradient  text-white rounded-3">


				<div class="col-md-6">{{form_row(form.marque)}}</div>
				<div class="col-md-6">{{form_row(form.immat)}}</div>
				<div class="col-md-6">{{form_row(form.modele)}}</div>

				<div class="col-md-6">{{form_row(form.dateAcquisition)}}</div>
				<div class="col-md-6">{{form_row(form.equipementPolice)}}</div>
				<div class="col-md-6">{{form_row(form.pret)}}</div>
				<div class="col-md-6">{{form_row(form.kilometrage)}}</div>


				<div class="col-md-6">{{form_row(form.attribution)}}</div>
				<div class="col-md-6">{{form_row(form.situation)}}</div>
				<div class="col-md-6">{{form_row(form.numeroPlace)}}</div>
				<div class="col-md-6">{{form_row(form.comment)}}</div>
				<div class="col-md-6">{{form_row(form.dateCT)}}</div>


			</div>


			<div class="row ">
				<div class="col">
					<button type="submit" class="btn-pulse-modify w-100 alert alert-info">Enregistrer</button>
				</div>
				<div class="col">
					<button onclick="window.location.href='{{path('app_vehicle')}}'" class="col btn-pulse-delete  col  alert alert-danger w-100">Annuler</button>
				</div>


			</div>
			{{ form_end(form) }}

		</div>
	</div>
{% endblock %}
