{% extends 'base.html.twig' %}


{% block body %}


	{# <div class="row ">
							<div class="col sticky-row-tableau-vehicule">
								<h4>Parc automobile cabinet</h4>
							</div>
							<div class="col sticky-row-tableau-vehicule">
								{% for message in app.flashes('message') %}
									<div class="alert alert-success" role="alert">
										{{ message }}
									</div>
								{% endfor %}
							</div>
						</div> #}
	<div class="container-fluid text-center">
		<div class="row ">
			<div class="col ">
				<table class="table table-secondary table-hover ">
					<thead>
						<tr class="sticky-tr-tableau-vehicule">
							<th scope="col"></th>
							<th scope="col">Marque</th>
							<th scope="col">Modèle</th>
							<th scope="col">Immatriculation</th>
							<th scope="col">Attribution</th>
							<th scope="col">Place</th>
							<th scope="col">Equipement Police</th>
							<th scope="col">Prêt</th>
							{# <th scope="col">Date acquisition</th> #}


						</tr>
					</thead>
					<tbody>

						{% for vehicule in vehicles %}


							<tr onclick="window.location='{{path('app_edit_vehicle',{'id':vehicule.id})}}'">


								<th scope="row"></th>

								<td>{{vehicule.marque}}</td>

								<td>{{vehicule.modele}}</td>

								<td>{{vehicule.immat}}</td>

								<td>{{vehicule.attribution}}</td>

								<td>{{vehicule.numeroPlace}}</td>

								<td>
									{% if vehicule.equipementPolice %}
										<span class="badge text-bg-success">oui</span>
									{% else %}
										<span class="badge text-bg-danger">non</span>
									{% endif %}
								</td>

								<td>
									{% if vehicule.pret %}
										<span class="badge text-bg-success">disponible</span>
									{% else %}
										<span class="badge text-bg-danger">indisponible</span>
									{% endif %}
								</td>

								{# <td>{{vehicule.dateAcquisition|date("m/d/Y")}}</td> #}
							</tr>
						</td>
					{% endfor %}
				</tbody>

			</table>
		</div>
	</div>
{% endblock %}
