{# templates/reservation/index.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/calendar/main.min.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/calendar/main.min.js')}}"></script>
	<script src="{{ asset('assets/js/calendar/fr.min.js') }}"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
var calendarEl = document.getElementById('calendar');
var calendar = new FullCalendar.Calendar(calendarEl, {
initialView: 'dayGridMonth',
locale: 'fr',
events: [{% for reservation in reservations %}
{
title: '{{ reservation.vehicle.name }}-  {{ reservation.customerName }}',
start: '{{ reservation.startDate|date('Y-m-d\\TH:i:s') }}',
end: '{{ reservation.endDate|date('Y-m-d\\TH:i:s') }}',
color: '# {{ random(['3a86ff', '8338ec', 'ff006e', 'fb5607', 'ffbe0b']) }}'
},{% endfor %}]
});
calendar.render();
});
	</script>
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Réservations de véhicules</h1>

		<a href="{{ path('reservation_new') }}" class="btn btn-primary mb-4">Nouvelle réservation</a>

		<div id="calendar" style="height: 600px;"></div>
	</div>
{% endblock %}
