{% extends 'base.html.twig' %}

{% block javascripts %}

	<script src="{{ asset('assets/js/calendar/index.global.js') }}"></script>
	{# <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script> #}
	<script>

		document.addEventListener('DOMContentLoaded', function () {
var calendarEl = document.getElementById('calendar');

var calendar = new FullCalendar.Calendar(calendarEl, {

headerToolbar: {
locale: 'fr',
left: 'prev,next today',
center: 'title',
right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
},
// initialDate: '2023-01-12',
navLinks: true, // can click day/week names to navigate views
businessHours: true, // display business hours
editable: true,
selectable: true,
selectMirror: true,
select: function (arg) {
var title = prompt('Event Title:');
if (title) {
calendar.addEvent({title: title, start: arg.start, end: arg.end, allDay: arg.allDay})
}
calendar.unselect()
},
eventClick: function (arg) {
if (confirm('Voulez-vous modifier cette réservation?')) {
	
window.location.href="{{path('reservation_edit')}}"
}
},
editable: true,
dayMaxEvents: true, // allow "more" link when too many events
events: [{% for reservation in reservations %}{
title: '{{ reservation.vehicle.immat }}-        {{ reservation.customerName }}',
start: '{{ reservation.startDate|date('Y-m-d\\TH:i:s') }}',
end: '{{ reservation.endDate|date('Y-m-d\\TH:i:s') }}',
color: '       {{ random(['3a86ff', '8338ec', 'ff006e', 'fb5607', 'ffbe0b']) }}'
},{% endfor %}]
});
calendar.setOption('locale', 'fr');
calendar.render();

});
	</script>
{% endblock %}
{% block stylesheets %}
	<style>

		body {
			margin: 40px 10px;
			padding: 0;
			font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
			font-size: 14px;
		}

		.fc-button-primary {
			background-color: #2c3e50 !important;
			border-color: #2c3e50 !important;
		}

		.fc-button-primary:hover {
			background-color: #1a252f !important;
			border-color: #1a252f !important;
		}

		.fc-button-primary:not(:disabled):active,
		.fc-button-primary:not(:disabled).fc-button-active {
			background-color: #1a252f !important;
			border-color: #1a252f !important;
		}

		.fc-toolbar-title {
			font-size: 1.5em !important;
			font-weight: bold !important;
		}

		.fc-daygrid-day-number,
		.fc-col-header-cell-cushion {
			color: inherit !important;
			text-decoration: none !important;
		}

		.fc-theme-standard td,
		.fc-theme-standard th,
		.fc-theme-standard .fc-scrollgrid {
			border-color: #ddd !important;
		}

		.fc .fc-view-harness {
			background: white !important;
		}

		.fc-event {
			border: none !important;
			padding: 2px 5px !important;
			font-size: 0.85em !important;
		}

		.fc-header-toolbar {
			margin-bottom: 1.5em !important;
		}
		.fc-view-harness {
			height: 450px !important; /* Ajuste la hauteur du calendrier */
		}


		#calendar {
			max-width: 1000px;
			margin: 0 auto;
		}
	</style>
{% endblock %}
{% block body %}
	<div class="main-content-agenda">
		<div class="row">
			<div class="col "></div>
		</div>


		<div class="row">


			<div class="col-12 text-center">
				<button onclick="window.location.href='{{ path('reservation_new') }}'" type="button" class="btn-pulse-modify alert alert-info mx-auto">
					Ajouter une réservation
				</button>
				<button onclick="window.location.href='{{ path('reservation_edit') }}'" type="button" class="btn-pulse-delete alert alert-danger mx-auto">
					Modifier une réservation
				</button>
			</div>

		</div>
		<div class="row">
			<div classe"col" id="calendar"></div>
		</div>
	</div>
{% endblock %}
